
$color: rgb(10, 12, 146);
.myDiv{
    color: $color;
    height: 600px;
    text-align: justify;
    font-size :36px;
    margin: 12px;
    width: 45%;
    float: left;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 8px;
}